.add-video {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#app {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
::-webkit-scrollbar { 
    width: 0 !important 
}
.control-panel-container {
    right: 5px;
    top: 5px;
    position: absolute;
}
.control-panel-container i {
    cursor: pointer;
}
.main-container {
    max-width: 95%;
    padding: 0px;
}
/* * {
    border: 1px red solid;
} */
.grid-actions-container {
    left: 100%;
    top: 24px;
    opacity: 0;
    width: 16px;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    transition: all;
    transition-duration: .5s;
}
.grid-actions-container:hover {
    opacity: 0.8;
}
.grid-actions-container i {
    cursor: pointer;
}
.grid-wait {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    transform: translateX(-50%);
    font-size: 14px;
}